.stop1 { stop-color:rgb(36,255,240);stop-opacity:1 }
.stop2 { stop-color:rgb(0,128,128);stop-opacity:1 }

.responsive-chart-container {
  max-width: 90vw;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.tick text {
  font-size: 1.3em;
  fill: gray;
  font-weight: 800;
  opacity: 0.8;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

.Axis-Left path {
  d: path("M 0 470 V 50");
}

.Axis .domain {
  stroke: gray;
  stroke-opacity: 0.7;
}

.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 7px;
}

@media all and (max-width: 786px) {
  .responsive-chart-container {
    max-width: 100vw;
  }
}
